<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Cards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pagewithform.css') }}">
    <script src="static/drag_card.js"></script>
    <script src="static/make_cards.js"></script>
</head>
<body>
<form onsubmit="event.preventDefault(); create_card();" method="POST">
    Card Front:
    <input id="front" type="text" name="front"><br>
    Card Back:<br>
    <textarea id="back" rows="5" cols="10" name="back"></textarea><br>
    <input type="submit" name="submit">
</form>

</body>
</html>